<header class="py-3" style="z-index: 1000; position: relative;">
  <nav class="container-fluid row justify-content-center p-0 m-0">
    <div class="position-relative col-8 col-md-4 history-container">
      <button class="btn btn-outline-light w-100" (click)="history($event)">
        {{ "HISTORY" | translate }}
      </button>
      <div class="history position-absolute d-none overflow-auto" id="history" style=" max-height: 300px;">
        @for (history of countries; track history.id) {
        <div class="px-1">
          <p class="p-0 m-0">{{ history.city.country.name }}, {{ history.city.name }}</p>
          <p class="p-0 m-0">COP: $ {{ history.budget | number : "1.0-3"}}</p>
          <p class="p-0 m-0">{{history.coin}}: {{history.symbol}} {{(history.budget * history.exchangeRate) | number : "1.0-3"}}</p>
          <p class="p-0 m-0">{{'TXT_RATE' | translate}} {{history.exchangeRate}}</p>
          <p class="p-0 m-0">{{'TXT_CLIMATE' | translate}}: {{history.climate}}°C</p>
        </div>
        }
      </div>
    </div>
    <app-language class="col-4 col-md-3" />
  </nav>
</header>

<main class="position-relative">
  <div
class="alert alert-danger p-2 w-100 position-absolute p-alert-close"
style="z-index: 200"
role="alert"
id="p-alert"
>
{{'ALERT' | translate}}
</div>
  <router-outlet></router-outlet>
</main>
